<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no">
	<title>MoviesIndex - Watch Movies and TV Series for free in High Quality</title>
	<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<header>
		<div class="header-flex">
			<h1><a href="#"><span class="sub-color">WeFashion</span></a></h1>
			<nav>
				<ul>
					<li><a href="/search/t-shirt">T-Shirt</a></li>
					<li><a href="/search/sneakers">Sneakers</a></li>
					<li><a href="/search/jacket">Jackets</a></li>
				</ul>
			</nav>
			<div class="header-down">
				<input type="text" class="search-bx" placeholder="Search here"> <i class="lni lni-search-alt"></i>
			</div>
		</div>
	</header>
	<main>
		<div class="info">
			<div class="poster">
				<img alt="The Rookie: Season 4 (2021)" border="0" data-original-height="1350" data-original-width="1080" height="320" src="https://1.bp.blogspot.com/-Cq390rQQpSY/YVGnPTHa_iI/AAAAAAAA3uY/Y5cGO4KA40kL1X0BzSyp_6OSfSGKhx5NQCLcBGAsYHQ/rookie-season-4-poster.jpg" title="The Rookie: Season 4 (2021)">
			</div>
			<div class="desc">
				<div class="about">
					<h2>The Rookie: Season 4</h2>
					<div>
					<b>Genre:</b> <a href="/search/label/Comedy">Comedy</a>, <a href="/search/label/Crime">Crime</a>, <a href="/search/label/Drama">Drama</a>.</div>
					<div>
					<b>Released:</b> <a href="/search/?q=2021">2021</a>.</div>
					<div>
					<b>Creator:</b> <a href="/search/?q=Alexi+Hawley">Alexi Hawley</a>.</div>
					<div>
					<b>Starring:</b> <a href="/search/?q=Nathan+Fillion">Nathan Fillion</a>, <a href="/search/?q=Alyssa+Diaz">Alyssa Diaz</a>, <a href="/search/?q=Richard+T.+Jones">Richard T. Jones</a>.</div>
				</div>
				<div class="review">
					<div>
						<p>
John Nolan lived a boring and mundane life. He missed the stars from heaven and was considered a completely ordinary person. Once a humble city dweller witnessed a brutal robbery. In moments of danger, he rethought his life values and realized that the time had come for cardinal changes. He wanted to resign from his post and enter the police academy. He was eager to help peaceful citizens and defend their interests. Having learned the basics of a difficult craft, the ambitious guy was enrolled in the department. He briskly took up his duties in the hope of proving that, despite his years, he would be able to perfectly cope with all matters. <br> 
John begins to patrol the city streets along with other recruits and tries to be no different from the youth. He strictly followed the instructions, but in some cases he had to rely solely on his own strength. The law enforcement officer hated injustice. Despite the sidelong glances of his senior management, he continued to work in the department and accumulate the necessary experience.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>